.contact-us-section {
  background-color: #f9f9f9;
  padding:30px 50px;
  border-radius: 10px;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 4px 12px rgba(154, 96, 96, 0.1);
  
}

.contact-us-title {
  font-size: 4rem;

  font-weight: 900;
  text-align: center;
  color: #2c3e50;
  margin-bottom: 0px;
  font-family: "Poppins", sans-serif;
  color:#4CAF50;
}

.contact-us-description {
  font-size: 19px;
  text-align: center;
  color: #7f8c8d;
  margin-bottom: 30px;
}

.form-type-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.form-type-btn {
  background: linear-gradient(135deg, #2ecc71, #3498db);
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.form-type-btn.active {
  background-color: #2980b9;
}

.form-type-btn:hover {
  background: linear-gradient(135deg, rgba(46, 204, 113, 0.8), rgba(52, 152, 219, 0.8));
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 8px;
  color: #34495e;
  font-size: 18px;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
}

.contact-form textarea {
  resize: vertical;
}

.submit-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 20px auto;
  width:300px
}

.submit-btn:hover {
  background-color: #27ae60;
  transform: translateY(-5px);
} 





.form-type-btn.active {
  opacity: 0.7;
}

/* @media (max-width: 640px) {
  .contact-us-description {
    font-size: 18px;
  }

} */



